{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>AudISoft  {% block title%} Dashboard {%endblock%}</title>
    <!-- Favicon-->
    <link rel="icon" href="https://gurayyarar.github.io/AdminBSBMaterialDesign/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/static/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/static/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="/static/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Ion Range -->
    <link href="/static/plugins/ion-rangeslider/css/ion.rangeslider.css" rel="stylesheet">
    <link href="/static/plugins/ion-rangeslider/css/ion.rangeslider.skinFlat.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="/static/css/admin-template-style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/static/css/themes/all-themes.css" rel="stylesheet" />


    <style>
        .info-box.bg-purple, .info-box .bg-purple{
            background-color: #6dc3c0 !important;
        }
    </style>

    <!-- Custom CSS -->
    {% block styles%}
    {% endblock %}
    <!-- / Custom CSS -->

    <script type="text/javascript">
        config = JSON.parse('{{ config }}'.replace(/&#39;/g, '"'));
        risk_percents = JSON.parse(config.risk_percent);
    </script>

</head>

<body class="theme-light-blue" ng-app='audit_soft'>
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p class="page-loader-text">Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="https://gurayyarar.github.io/AdminBSBMaterialDesign/index.html">INDICADORES DE AUDITORÍA</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
             <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <!-- <li role="presentation" class="active"><a href="index.html#skins" data-toggle="tab">SKINS</a></li> -->
                <li role="presentation" class="active"><a href="index.html#settings" data-toggle="tab">CONFIGURACIONES</a></li>
            </ul>
            <div class="tab-content"  ng-controller="configController">
                <div role="tabpanel" class="tab-pane fade in active in active" id="settings">
                    <div class="demo-settings">
                        <P>CANTIDAD DE EJECUCIONES: </P>
                        <ul class="setting-list">
                            <li>
                                <input min="1" max="5" type="text" ng-model="config.considered_executions" id="range_qty_executions" value="" />
                            </li>
                        </ul>
                        <P>PORCENTAJES DE RIESGO: </P>
                        <ul class="setting-list">
                            <li>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        <span class="risk-amount-indicator"><=</span>
                                        <input placeholder="0" min="1" max="99" ng-model="config.risk_percent_low" style="width:40px; margin-left:5px; margin-right:5px;" type="number" class="validate"/>
                                        <span class="risk-amount-indicator" style="background:#cfd34f">>  <=</span>
                                        <input placeholder="0" min="1" max="99" ng-model="config.risk_percent_medium" style="width:40px; margin-left:5px; margin-right:5px;" type="number" class="validate"/>
                                        <span class="risk-amount-indicator" style="background:#e34a4a">></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="setting-list">
                            <li>
                                <button class="btn btn-primary btn-block" ng-click="changeConfig()" >Aplicar cambios</button>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-block" href="/logout">Cerrar Sesion</a>
                            </li>
                            <!-- <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">

            <div class="block-header">
                <div class="col-sm-12 align-right"  ng-controller='navegationController'>
                        <div class="switch panel-switch-btn">
                            <span class="m-r-10 font-12">TIPO DE VISUALIZACIÓN</span>

                            <input type="checkbox" id="indicator_qty" ng-click='toogleIndicatorType()' ng-checked='boolean_indicator_type'  />
                            <label for="indicator_qty" ng-class='{ "selected-indicator_checkbox" : boolean_indicator_type}'>Cantidad de Incidencias </label>

                            <input type="checkbox" id="indicator_amount" ng-click='toogleIndicatorType()' ng-checked='!boolean_indicator_type'  />
                            <label for="indicator_amount" ng-class='{ "selected-indicator_checkbox" : !boolean_indicator_type}'>Monto de Incidencias</label>
                        </div>
                    </div>
                </div><br>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-purple hover-expand-effect" >
                        <a class="btnbg-purple waves-effect button-panel" href="{% url 'dashboard' %}">
                            <div class="icon">
                                <i class="material-icons">playlist_add_check</i>
                            </div>
                        </a>
                        <div class="content">
                            <div class="text">DASHBOARD OFICINAS</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-purple hover-expand-effect">
                        <a class="btnbg-purple waves-effect button-panel" href="{% url 'crud_processes' %}">
                            <div class="icon">
                                <i class="material-icons">playlist_add_check</i>
                            </div>
                        </a>
                        <div class="content">
                            <div class="text">DASHBOARD PROCESOS</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-purple hover-expand-effect" >
                        <a class="btnbg-purple waves-effect button-panel"  href="{% url 'reports' %}">
                            <div class="icon">
                                <i class="material-icons">assignment</i>
                            </div>
                        </a>
                        <div class="content">
                            <div class="text" style="margin-top: 20px">REPORTES</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-purple hover-expand-effect">
                        <a class="btn bg-purple waves-effect button-panel" href="{% url 'crud_index' %}">
                            <div class="icon">
                                <i class="material-icons">view_week</i>
                            </div>
                        </a>
                        <div class="content">
                            <div class="text" style="margin-top: 20px">MANTENIMIENTOS</div>
                        </div>
                    </div>
                </div>

            </div>

            {% block content %}
            {% endblock %}

        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="/static/node_modules/jquery/dist/jquery.js"></script>

    <!-- Angular  -->
    <script src="/static/node_modules/angular/angular.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <!-- <script src="/static/plugins/bootstrap-select/js/bootstrap-select.js"></script> -->

    <!-- Slimscroll Plugin Js -->
    <script src="/static/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/static/node_modules/node-waves/dist/waves.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="/static/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Ion Range Slider  -->
    <script type="text/javascript" src="/static/plugins/ion-rangeslider/js/ion.rangeslider.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/static/plugins/raphael/raphael.min.js"></script>
    <script src="/static/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="/static/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="/static/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/static/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/static/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/static/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/static/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="/static/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- SweetAlert JS -->
    <script src="/static/node_modules/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Custom Js -->
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/pages/index.js"></script>

    <!-- Demo Js -->
    <!-- <script src="/static/js/demo.js"></script> -->
    <script type="text/javascript" src="/static/plugins/jvectormap/ol.js"></script>
    <script type="text/javascript" src="/static/plugins/jvectormap/ol3-layerswitcher.js"></script>

    <!-- String format -->
    <script type="text/javascript" src="/static/node_modules/string-format/lib/string-format.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="/static/js/modules/universal.js"></script>
    <!-- Angular Modules -->
    <script type="text/javascript" src="/static/js/modules/app.modules.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/shared/data.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/shared/navigation.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/settings/config.controller.js"></script>

    {% block scripts %}
    {% endblock %}
<!--
    <script type="text/javascript" src="/static/js/modules/components/map/map-view.model.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/map/map-view.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/maintenance/categories.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/maintenance/categories.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/reports/reports.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/reports/reports.service.js"></script>
 -->


</body>

</html>