<div class="nav-wrapper" ng-controller='navegationController'>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li>
        <a href="{% url 'dashboard' %}" class="cyan-text">
            <i class="mdi-action-dashboard"></i>
            <span>Dashboard Oficinas</span>
        </a>
    </li>

    <li>
        <a href="/mantenimientos/procesos" class="cyan-text">
            <i class="mdi-action-dashboard"></i>
            <span>Dashboard Procesos</span>
        </a>
    </li>
    <li>
        <a href="{% url 'reports' %}" class="cyan-text">
            <i class="mdi-action-description"></i>
            <span>Reportería</span>
        </a>
    </li>
    <li>
        <a href="{% url 'crud_index' %}" class="cyan-text">        
            <i class="mdi-action-description"></i>
            <span>Mantenimientos</span>
        </a>
    </li>
    <li class="indicator_type_choice" style="position: absolute; right: 4%">
        <div class="switch">
            <label> Monto <input type="checkbox" ng-model='indicator_type' ng-change='indicator_change()'> <span class="lever"></span> Cantidad </label>
        </div>
    </li>

  </ul>
</div>

