
.not-selectable{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.risk-square-blue{
	background-color: #3f7d93 !important;
}

.risk-square-gray{
	background-color: #607d8b !important;
}

div.collapsible-header{
	width: 97%;
    margin-left: 5px !important;
}

.side-nav li:hover, 
.side-nav li.active{
	background: transparent;	
}


span.risk-amount-indicator{
    background: #53d59e;
    padding: 7px !important;
    color: #fff;
    font-weight: bold;
    min-width: 32px;
    text-align: center;
}

img.config_loading{
	width: 46px;
    position: absolute;
    top: 8px;
    left: 44%;
}

.select-wrapper .caret{
	position: absolute !important;
    right: 0px !important;
    top: 21px !important;
}

aside.right-sidebar-nav{
    z-index: 1000000;
}

ul#chat-out{
    right: -105%;
    width: 260px;
}

a.chat-close-collapse.right{
    margin: 16px 21px -2px 0;
    width: 10px;
    height: 10px;
    padding: 12px;
}

a.chat-close-collapse.right{
    margin: 16px 21px -2px 0;
    width: 10px;
    height: 10px;
    padding: 12px;
}

a.chat-close-collapse.right i{
    margin-top: -23px !important;
    margin-left: -12px;
}

#card-stats{
    border: 1px solid #e0e0e0;
    padding: 0px 8px 0px 8px;
}

footer.page-footer{
    background-color: #33bbcd !important; 
}

.demo-google-material-icon i.material-icons{
    vertical-align: middle;
}
.demo-google-material-icon span.icon-name{
    vertical-align: bottom;
}

.offices-group .list-group-item{
    cursor: pointer;
}

.offices-group .list-group-item:hover{
    background: rgba(220,220,220,0.2);
    font-style: italic;
}
