{% extends 'base/base.html'%}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/owl-carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/processes/style.css">
{% endblock %}



{% block scripts  %}
    <script type="text/javascript" src="/static/plugins/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap-menu.min.js"></script>

    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.controller.js"></script>
<!-- 
 -->
    <script type="text/javascript">
        add_module('DashboardModule');
        add_module('ProcessModule');

        $(document).on('ready', function () {
            // Enable carousel
            $(".owl-carousel").owlCarousel({
                items: 4,
                navigation : false,
                pagination : false
            });

            // Enable tooltips
            $('[data-toggle="tooltip"]').tooltip()

            // Enable Context Menu
            var menu = new BootstrapMenu('.collapse .btn', {
              actions: [{
                  name: 'Ver detalles',
                  onClick: function() {
                    $('#defaultModal').modal('show')
                  }
                },{
                  name: 'Ver indicadores',
                  onClick: function() {
                    $('#defaultModal').modal('show')
                  }
                }]
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="row" ng-controller='procesessController'>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                {% for root in root_nodes %}
                    <div class="panel panel-default" >
                        <div class="panel-heading" role="tab" id="heading{{root.id}}">
                            <h3 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapse{{root.id}}" aria-expanded="true" aria-controls="collapse{{root.id}}" ng-click='hideCollapsedPanels()'>
                                    {{root.title}}
                                </a>
                            </h3>
                        </div>
                        <div id="collapse{{root.id}}" class="panel-collapse collapse {{ forloop.first|yesno:'in,' }} " role="tabpanel" aria-labelledby="heading{{root.id}}">
                            <div class="panel-body">
                                <div id="owl-demo" class="owl-carousel owl-theme">
                                    {% for child in root.children %}
                                            <button
                                                    class="btn btn-warning waves-effect m-b-15 m-t-10 btn-macro-process"
                                                    type="button"
                                                    bootstrap-menus
                                                    data-toggle="collapse"
                                                    ng-class="{ 'selected-process' : current_selected.macro_process == {{child.id}}, 'blur' : blur('macro_process',{{child.id}}) }"
                                                    data-target="#collapse-process-{{root.id}}"
                                                    data-parent='#collapse{{root.id}}'
                                                    aria-expanded="false"
                                                    aria-controls="collapse-process-{{root.id}}"
                                                    ng-click='getProcesss({{child.id}})'
                                                    >
                                                {{child.title}}
                                                <div class="traffic-light">
                                                    <div class="light red"></div>
                                                    <div class="light yellow"></div>
                                                    <div class="light selected-green"></div>
                                                </div>
                                            </button>
                                    {% endfor %}
                                </div>
                                <div class="collapse collapse-process" id="collapse-process-{{root.id}}">
                                    <div class="well well-process">
                                        <div id="owl-process" class="owl-carousel owl-theme process-scroll">
                                            <div class="col-sm-3" ng-repeat='node in process_nodes'>
                                                <button
                                                    type="button"
                                                    class="btn btn-success waves-effect btn-process m-b-15 m-t-10  font-5"
                                                    ng-class="{ 'selected-process' : current_selected.process == node.id, 'blur' : blur('process', node.id)  }"
                                                    data-toggle="collapse"
                                                    data-target="#collapse-sub-process{{root.id}}"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-sub-process{{root.id}}"
                                                    ng-click='getSubProcesss(node.id)'>
                                                        [[node.title]]
                                                    </button>
                                            </div>
                                        </div>

                                        <div class="collapse collapse-sub-process" id="collapse-sub-process{{root.id}}">
                                            <div class="well well-sub-process">
                                                <div class="row">
                                                    <div class="col-sm-3" ng-repeat='_node in subprocess_nodes'>
                                                        <button type="button" class="btn btn-info btn-subprocess m-b-15 font-5">
                                                                [[_node.title]]
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>

<div class="row" ng-controller='dashboardController'>
    <div class="col-md-12">
        <!-- Summary Cards -->
        <div id="card-stats">
            <div class="row"><!--
                <div class="s12">
                    <h4 class="card-stats-number" style="margin-left: 10px;">Elementos con mayor cantidad de incidencias</h4>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card" ng-mouseenter='resume_box.office.text_size = null' ng-mouseleave='resume_box.office.text_size = 20'>
                        <div class="card-content cyan darken-2 white-text" ng-class='{"expand" : resume_box.office.name.length > 20}'>
                            <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Oficina</p>
                            <h4 class="card-stats-number" >[[resume_box.office.name | limitTo: resume_box.office.text_size]]
                                <span ng-if='resume_box.office.name.length > 20 && resume_box.office.text_size != null'>[...]</span>
                            </h4>
                            <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                                <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="card" ng-mouseenter='resume_box.category.text_size = null' ng-mouseleave='resume_box.category.text_size = 20'>
                        <div class="card-content indigo lighten-2 white-text" ng-class='{"expand" : resume_box.category.name.length > 20}'>
                            <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Categoría</p>
                            <h4 class="card-stats-number" >[[resume_box.category.name | limitTo: resume_box.category.text_size]]
                                <span ng-if='resume_box.category.name.length > 20 && resume_box.category.text_size != null'>[...]</span>
                            </h4>
                            <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                                <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card" ng-mouseenter='resume_box.indicator.text_size = null' ng-mouseleave='resume_box.indicator.text_size = 20'>
                        <div class="card-content light-blue lighten-2 white-text" ng-class='{"expand" : resume_box.indicator.name.length > 20}'>
                            <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Indicador</p>
                            <h4 class="card-stats-number">[[resume_box.indicator.name | limitTo: resume_box.indicator.text_size]]
                                <span ng-if='resume_box.indicator.name.length > 20 && resume_box.indicator.text_size != null'>[...]</span>
                            </h4>
                            <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                                <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                            </p>
                        </div>
                    </div>
                </div>
             --></div>
        </div>
        <!-- Detail boxes -->
        <div id="work-collections">
            <div class="row">
                <br>
                <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Procesos con mayor porcentaje de incidencias <small>Evaluación por Procesos</small>
                                </h2>
                            </div>
                            <div class="body">
                                <ul class="list-group offices-group">
                                    <li class="list-group-item" ng-repeat='off in offices_risk' ng-click='loadModalData(off, "categories")'>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <strong>[[off.code]] -</strong> [[off.name]]
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="progress">
                                                    <div
                                                        class="progress-bar progress-bar-striped active"
                                                        ng-class='{ "progress-bar-danger" : off.risk_level == "high", "progress-bar-warning" : off.risk_level == "medium", "progress-bar-success" : off.risk_level == "low"}'
                                                        role="progressbar"
                                                        aria-valuenow="75"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                        style="width: [[off.risk]]%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Cras justo odio <span class="badge bg-pink">14 new</span> -->
                                    </li>
                                    <li class="list-group-item" ng-show='!offices_risk || offices_risk.length == 0'>
                                        Sin información
                                    </li>
                                    <li class="list-group-item" ng-show='loading.offices'>
                                        <div class="row">
                                            <div class="col-sm-offset-5 col-sm-4 ">
                                                <div class="preloader pl-size-xl">
                                                    <div class="spinner-layer">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Categoría con mayor porcentaje de incidencias<small>Evaluación por categoría de indicadores</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul class="list-group offices-group">
                                <li class="list-group-item mouse-hover" ng-repeat='off in offices_risk' ng-click='loadModalData(off, "categories")'>
                                    <div class="row trigger-modal">
                                        <div class="col-sm-7 title">
                                            <strong>[[off.code]] -</strong> [[off.name]]
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="progress">
                                                <div
                                                    class="progress-bar progress-bar-striped active"
                                                    ng-class='{ "progress-bar-danger" : off.risk_level == "high", "progress-bar-warning" : off.risk_level == "medium", "progress-bar-success" : off.risk_level == "low"}'
                                                    role="progressbar"
                                                    aria-valuenow="75"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    style="width: [[off.risk]]%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Cras justo odio <span class="badge bg-pink">14 new</span> -->
                                </li>
                                <li class="list-group-item" ng-show='!offices_risk || offices_risk.length == 0'>
                                    Sin información
                                </li>
                                <li class="list-group-item" ng-show='loading.offices'>
                                    <div class="row">
                                        <div class="col-sm-offset-5 col-sm-4 ">
                                            <div class="preloader pl-size-xl">
                                                <div class="spinner-layer">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Graphs -->
        <div id="work-collections">
            <div class="row" style="backgroud:#f00">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                            <div class="header">
                                <h2>Comportamiento en categoría de indicadores</h2>
                            </div>
                            <div class="body">
                                <div id="morris-radar-chart" class="section">
                                    <div class="row">
                                        <div class="col s12 m12 19">
                                            <div class="sample-chart-wrapper">
                                                <canvas id="line-chart-sample" height="170px"></canvas>
                                            </div>
                                            <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>Incidencias por regiones</h2>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col s12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="doughnut-chart" height="170px"></canvas>
                                        </div>
                                        <div class="row"  ng-show='loading.categories'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>Histórico de incidencias por indicador(3 ejecuciones)</h2>
                            <br>
                            <select class="width100px" ng-model="history_by_indicator" ng-change="getHistory('indicator')" id="history_by_indicator">
                              <option  value="" selected>Seleccione un indicador</option>
                                {% for indicator in indicators %}
                                    <option value="{{ indicator.id }}">{{ indicator.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col s12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="incidence_by_indicator" height="170px"></canvas>
                                        </div>
                                        <div class="row"  ng-show='loading.indicators_history'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>Histórico de incidencias por indicador(3 ejecuciones)</h2>
                            <br>
                            <select class="width100px" ng-model="history_by_category" ng-change="getHistory('category')" id="history_by_category">
                              <option  value="" selected>Seleccione una categoría</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col s12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="incidence_by_category" height="170px"></canvas>
                                        </div>
                                        <div class="row"  ng-show='loading.categories_history'> <div class="col s12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="offices-detail-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Detalle de Categorías</h4>
                </div>
                <div class="modal-body">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <h5>Detalle de Categorías</h5>
                        <br>
                        <li ng-repeat='row in modal_office_data'>
                            <div class="collapsible-header active"><i class="material-icons">filter_drama</i>[[row.name]]<span style="position: absolute; right: 10%;">[[row.weight | limitTo : 4]]%</span></div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat='srow in row.iterator'>[[srow.name]]<span style="cursor: pointer; position: absolute; right: 10%;">
                                        <i class="mdi-file-file-download" ng-click='get_doc(row, srow)'></i></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dashboard-modal" class="modal">
    <div class="modal-content">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-repeat='row in modal_office_data'>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>[[row.name]]<span style="position: absolute; right: 10%;">[[row.weight | limitTo : 4]]%</span></div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat='srow in row.iterator'>[[srow.name]]<span style="cursor: pointer; position: absolute; right: 10%;">
                            <i class="mdi-file-file-download" ng-click='get_doc(row, srow)'></i></span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
</div>

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                    <div class="header"> <h2> Detalles </h2> </div>
                    <div class="body">
                            <ul class="list-group">
                                <li class="list-group-item" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Descripción</strong>
                                    <i class="right">El Macroproceso de Gestión [...] </i>
                                </li>
                                <li class="collapse" id="collapseExample">
                                    <div class="well">El Macroproceso de Gestión del Direccionamiento tiene como objetivo la definición, actualización y seguimiento de los lineamientos estratégicos del banco.</div>
                                </li>
                                <li class="list-group-item">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Dueño</strong
                                    ><i class="right">YESSICA ALEJANDRINA SOSA GERMAN</i>
                                </li>
                                <li class="list-group-item">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Lider</strong
                                    ><i class="right">CARLOS FEDERICO ABREU RODRIGUEZ</i>
                                </li>
                                <li class="list-group-item">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Puesto Dueño/Lider</strong>
                                    <i class="right">Líder de Proceso de Negocio </i>

                                </li>
                                <li class="list-group-item">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Cantidad Procesos</strong
                                    > <i class="right">12</i>
                                </li>
                                <li class="list-group-item">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Cantidad Incidencias</strong
                                    > <i class="right">1,522</i>
                                </li>
                                <li class="list-group-item">
                                    <i class="material-icons">info_outline</i>
                                    <strong>Monto Incidencias</strong
                                    > <i class="right">RD$281,252.02</i>
                                </li>
                            </ul>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

