
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>AuditSoft - Login</title>
    <!-- Favicon-->
    <link rel="icon" href="../../dashboard/" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/static/plugins/node-waves/waves.css" rel="stylesheet">

    <!-- Animation Css -->
    <link href="/static/plugins/animate-css/animate.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="/static/css/login.css" rel="stylesheet">

</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <br><br>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST">
                     {% csrf_token %}
                    <img src="/static/images/login/logo.jpg" alt="" class="center-block img-circle valign profile-image-login">
                    <br>
                    <p class="align-center login-form-text font-32">INDICADORES DE AUDITORÍA</p>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-offset-7">
                            <button class="btn btn-block bg-primary waves-effect" type="submit"> Acceder </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/static/node_modules/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/static/node_modules/node-waves/dist/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/static/node_modules/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Custom Js -->
    <script src="/static/js/pages/login.js"></script>

    <script type="text/javascript">

        {% if bad_login %}
            $(document).on('ready', function () {
                var message = 'Las credenciales son erroneas';
                showNotification("alert-warning btn-block waves-effect", message, "top", "right", "animated lightSpeedIn", "animated lightSpeedOut");
            });
        {% endif %}
    </script>
</body>

</html>


