{% extends 'base/base.html'%}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">

    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/custom-style.css">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/main.css">
{% endblock %}

{% block scripts %}
    <!-- Bootstrap Select -->
    <script type="text/javascript" src="/static/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Angular Modules -->
    <script type="text/javascript" src="/static/js/modules/components/map/map-view.model.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/map/map-view.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.controller.js"></script>
    <script type="text/javascript">
        add_module('MapViewModule');
        add_module('DashboardModule');
    </script>
{% endblock %}

{% block content %}
<div class="row" ng-controller='map_view'>
    <div class="col-sm-12 col-sm-12">
        <div class="card" style="padding:2px 13px 2px 13px">
            {% include 'dashboard/map_view.html'%}
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card card-dashboard">
            <div class="header bg-light-green">
                <div class="demo-google-material-icon">
                    <i class="material-icons">dashboard</i> <span class="icon-name">Oficina</span>
                </div>
                <h2>
                    Direccion de Negocios Electronicos <small>Últimas 1 ejecuciones</small>
                </h2>
            </div>
        </div>
    </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card card-dashboard">
            <div class="header bg-blue">
                <div class="demo-google-material-icon"> <i class="material-icons">dashboard</i> <span class="icon-name">Oficina</span> </div>
                <h2>
                    Direccion de Negocios Electronicos <small>Últimas 1 ejecuciones</small>
                </h2>
            </div>
        </div>
    </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card card-dashboard">
            <div class="header bg-teal">
                <div class="demo-google-material-icon"> <i class="material-icons">dashboard</i> <span class="icon-name">Oficina</span> </div>
                <h2>
                    Direccion de Negocios Electronicos <small>Últimas 1 ejecuciones</small>
                </h2>
            </div>
        </div>
    </div>


</div>

<div ng-controller='dashboardController'>
    <!-- Summary Cards -->
    <div id="card-stats">
        <div class="row"><!--
            <div class="s12">
                <h4 class="card-stats-number" style="margin-left: 10px;">Elementos con mayor cantidad de incidencias</h4>
            </div>
            <div class="col-sm-12 m6 l4">
                <div class="card" ng-mouseenter='resume_box.office.text_size = null' ng-mouseleave='resume_box.office.text_size = 20'>
                    <div class="card-content cyan darken-2 white-text" ng-class='{"expand" : resume_box.office.name.length > 20}'>
                        <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Oficina</p>
                        <h4 class="card-stats-number" >[[resume_box.office.name | limitTo: resume_box.office.text_size]]
                            <span ng-if='resume_box.office.name.length > 20 && resume_box.office.text_size != null'>[...]</span>
                        </h4>
                        <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                            <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 m6 l4">
                <div class="card" ng-mouseenter='resume_box.category.text_size = null' ng-mouseleave='resume_box.category.text_size = 20'>
                    <div class="card-content indigo lighten-2 white-text" ng-class='{"expand" : resume_box.category.name.length > 20}'>
                        <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Categoría</p>
                        <h4 class="card-stats-number" >[[resume_box.category.name | limitTo: resume_box.category.text_size]]
                            <span ng-if='resume_box.category.name.length > 20 && resume_box.category.text_size != null'>[...]</span>
                        </h4>
                        <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                            <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m6 l4">
                <div class="card" ng-mouseenter='resume_box.indicator.text_size = null' ng-mouseleave='resume_box.indicator.text_size = 20'>
                    <div class="card-content light-blue lighten-2 white-text" ng-class='{"expand" : resume_box.indicator.name.length > 20}'>
                        <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Indicador</p>
                        <h4 class="card-stats-number">[[resume_box.indicator.name | limitTo: resume_box.indicator.text_size]]
                            <span ng-if='resume_box.indicator.name.length > 20 && resume_box.indicator.text_size != null'>[...]</span>
                        </h4>
                        <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                            <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                        </p>
                    </div>
                </div>
            </div>
         --></div>
    </div>
    <!-- Detail boxes -->
    <div id="work-collections">
        <div class="row">
            <br>
            <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Oficinas con mayor porcentaje de incidencias <small>Evaluación por oficinas</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul class="list-group offices-group">
                                <li class="list-group-item" ng-repeat='off in offices_risk' ng-click='loadModalData(off, "categories")'>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <strong>[[off.code]] -</strong> [[off.name]]
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="progress">
                                                <div
                                                    class="progress-bar progress-bar-striped active"
                                                    ng-class='{ "progress-bar-danger" : off.risk_level == "high", "progress-bar-warning" : off.risk_level == "medium", "progress-bar-success" : off.risk_level == "low"}'
                                                    role="progressbar"
                                                    aria-valuenow="75"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    style="width: [[off.risk]]%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Cras justo odio <span class="badge bg-pink">14 new</span> -->
                                </li>
                                <li class="list-group-item" ng-show='!offices_risk || offices_risk.length == 0'>
                                    Sin información
                                </li>
                                <!-- <li class="list-group-item" ng-show='loading.offices'>
                                    <div class="row">
                                        <div class="col-sm-offset-5 col-sm-4 ">
                                            <div class="preloader pl-size-xl">
                                                <div class="spinner-layer">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>
                            Categoría con mayor porcentaje de incidencias<small>Evaluación por categoría de indicadores</small>
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="list-group offices-group">
                            <li class="list-group-item mouse-hover" ng-repeat='off in offices_risk' ng-click='loadModalData(off, "categories")'>
                                <div class="row trigger-modal">
                                    <div class="col-sm-7 title">
                                        <strong>[[off.code]] -</strong> [[off.name]]
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                ng-class='{ "progress-bar-danger" : off.risk_level == "high", "progress-bar-warning" : off.risk_level == "medium", "progress-bar-success" : off.risk_level == "low"}'
                                                role="progressbar"
                                                aria-valuenow="75"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: [[off.risk]]%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cras justo odio <span class="badge bg-pink">14 new</span> -->
                            </li>
                            <li class="list-group-item" ng-show='!offices_risk || offices_risk.length == 0'>
                                Sin información
                            </li>
                            <!-- <li class="list-group-item" ng-show='loading.offices'>
                                <div class="row">
                                    <div class="col-sm-offset-5 col-sm-4 ">
                                        <div class="preloader pl-size-xl">
                                            <div class="spinner-layer">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Graphs -->
    <div id="work-collections">
        <div class="row" style="backgroud:#f00">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                        <div class="header">
                            <h2>Comportamiento en categoría de indicadores</h2>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col-sm-12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="line-chart-sample" height="170px"></canvas>
                                        </div>
                                        <!-- <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Incidencias por regiones</h2>
                    </div>
                    <div class="body">
                        <div id="morris-radar-chart" class="section">
                            <div class="row">
                                <div class="col-sm-12 m12 19">
                                    <div class="sample-chart-wrapper">
                                        <canvas id="doughnut-chart" height="170px"></canvas>
                                    </div>
                                    <!-- <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Histórico de incidencias por indicador <i>(3 ejecuciones)</i></h2>
                        <br>
                        <select class="form-control show-tick" ng-model="history_by_indicator" ng-change="getHistory('indicator')" id="history_by_indicator">
                            <option value="" disabled>-- Seleccione un indicador --</option>
                            {% for indicator in indicators %}
                                <option value="{{ indicator.id }}">{{ indicator.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="body">
                        <canvas id="incidence_by_indicator" height="170px"></canvas>
                    <!-- 
                        <div id="morris-radar-chart" class="section">
                            <div class="row">
                                <div class="col-md-12 m12 19">
                                    <div class="sample-chart-wrapper" ng-hide='loading.indicator_graph'>
                                    </div>
                                    <div class="row"  ng-show='loading.indicator_graph'>
                                        <div class="col-md-6 col-md-offset-5">
                                            <div class="preloader pl-size-xl">
                                                <div class="spinner-layer">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     --></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Histórico de incidencias por indicador<i>(3 ejecuciones)</i></h2>
                        <br>
                        <select class="form-control show-tick" ng-model="history_by_category" ng-change="getHistory('category')" id="history_by_category">
                            <option value="" disabled>-- Seleccione un indicador --</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="body">
                        <canvas id="incidence_by_category" height="170px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="offices-detail-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Detalle de Categorías</h4>
                    <h3><center><i><strong>[[curr_office_modal.code]]</strong> - [[curr_office_modal.name]]</i> </center></h3>
                </div>
                <div class="modal-body">

                   <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" ng-repeat='office in modal_office_data'>
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#list-[[$index]]" aria-expanded="true" aria-controls="collapseOne_1">
                                         [[office.name]]
                                    </a>
                                </h4>
                            </div>
                            <div id="list-[[$index]]" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat='srow in office.iterator'>
                                            [[srow.name]]
                                            <a href="" ng-click='get_doc(office, srow)'>
                                                <i class="material-icons right">file_download</i> 
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

  <div id="dashboard-modal" class="modal">
    <div class="modal-content">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-repeat='row in modal_office_data'>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>[[row.name]]<span style="position: absolute; right: 10%;">[[row.weight | limitTo : 4]]%</span></div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat='srow in row.iterator'>[[srow.name]]<span style="cursor: pointer; position: absolute; right: 10%;">
                            <i class="mdi-file-file-download" ng-click='get_doc(row, srow)'></i></span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
</div>
{% endblock %}

