<div class="row map-container" >
    <div class="col-sm-7">
        <div class="">
          <div style="width:100%; margin:auto; position:relative">
              <a class="btn-floating cyan" ng-click="goHome()" style="position:absolute; margin-top:5px; right: 0">
                  <i class="large mdi-action-home"></i>
              </a>
            <div id="map" style="width:100%; height:430px; padding:2px; margin:auto">
                <div id="popup" ng-show='!loading' class="ol-popup">
                  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                  <div id="popup-content">
                  <ul class="collection popup-map">
                  </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm-4 not-selectable">
        <div class="regions-list">
            <ul>
                <li ng-repeat="region in regions" ng-mouseover="showHighlight(region)" ng-click="centerMap(region.properties.info.region_name.value, region.properties.center, region.properties.zoom)" >
                    <span class="region-square" ng-class="{selected: selected_region == region.properties.info.region_name.value}" style="background-color:[[getLevelColor(region.properties.map_risk)]];"></span><span ng-class="{selected: selected_region == region.properties.info.region_name.value}">[[region.properties.info.region_name.value]]</span>
                </li>
            </ul>

            <img class="region_thumb_nail">
        </div>
    </div>
    <div class="progress" ng-show='loading'><div class="indeterminate"></div></div>
</div>


<style type="text/css">
	.ol-uncollapsible{
		display: none !important;
	}

	div.map-container{
		background-color: #75cff0;
	}

  img.region_thumb_nail{
    display: block;
    bottom: 0;
    left: 24em;
    position: absolute;
  }

.ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 350px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
        color:#8b8b8b;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

      ul.popup-map li{
		    padding: 4px !important;
      }

      div.regions-list ul{
        margin-top: 46px;
        margin-left: 16px;
      }

      div.regions-list ul li{
        list-style-type: none;
        color: #6f7172;
        font-size: 12px;
        font-family: inherit;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
      }

      div.regions-list ul li span.region-square{
        width: 43px;
        height: 13px;
        background: #ce93d8;
        display: inline-table;
        border: 1px solid #d4eafc;
        margin-right: 3px;
        margin-bottom: -2px;
      }

      div.regions-list ul li span.selected,
      div.regions-list ul li:hover span{
        color: #faf4f4;
        font-weight: bold;
      }

      div.regions-list ul li span.region-square.selected,
      div.regions-list ul li:hover span{
        border: 2px solid #faf4f4;
      }

</style>