{% extends 'base/base.html'%}



{% block scripts %}
    <script type="text/javascript" src="/static/js/modules/components/maintenance/categories.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/maintenance/categories.controller.js"></script>
	<script>
		add_module('MaintenanceCategoriesModules');
	</script>
{% endblock %}

{% block styles %}

<style type="text/css">
	.indicator_type_choice{
		display: none;
	}
	.body{
	    overflow-y: scroll;
	    overflow-x: hidden;
		height: 278px;
	    margin: 15px -13px;
	}

	ul.list-group{
		box-shadow: 1px 2px 9px 1px rgba(0, 0, 0, 0.2);
	}

	li.list-group-item:hover{
		background-color: rgba(250, 250, 250, 0.7);
	}
/*	.body col{
		float: right;
	}
*/
	.category-li{
		cursor: pointer;
	}

	.content form input[type="number"]::-webkit-outer-spin-button,
	.content form input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}

	.content form input[type="number"]{
		border: 1px solid #aaa !important;
		border-radius: 2px !important;
	    border-bottom: 1px solid #9e9e9e;
		height: 25px !important;
		margin: 0 !important;
	    text-align: center;
		width: 35px !important;
		-webkit-appearance: none;
	}

	div.wrapper{
		height: 500px;
		overflow-y: auto;
	}

	span.total{
		border-radius: 20px;
		width: 27px;
	}

	.body::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}

	.body::-webkit-scrollbar
	{
		width: 10px;
		background-color: #F5F5F5;
	}

	.body::-webkit-scrollbar-thumb
	{
		background-color: #96e1ff;
		background-image: -webkit-gradient(linear, 0 0, 0 100%,
		                   color-stop(.5, rgba(255, 255, 255, .2)),
						   color-stop(.5, transparent), to(transparent));
	}

	.btn-floating {
		cursor: pointer;
	    width: 34px;
	    height: 34px;
    }
	.btn-floating i{
	    /*font-size: 1.4rem;*/
	    line-height: 33px;
	}

	.fixed-action-btn{
		bottom: -30px;
	}
	.fixed-action-btn.horizontal ul{
		top: 9%;
	}

	.preloader-wrapper{
		margin: 5% 44%;
	}

	.content form input.ng-dirty{
		color: red;
	}

</style>
{% endblock %}

{% block content %}


<div class="content" ng-controller='MaintenanceCategoriesController'>
	<div class="row">
		<div class="col-md-5">
			<form name='formCategories'>
			    <ul class="list-group">
					<li class="list-group-item row">
		               <span class="col-md-6" ><strong>Categoría</strong></span>
		               <span class="col-md-2"><strong>Cantidad</strong></span>
		               <span class="col-md-2"><strong>Monto</strong></span>
			      </li>
			    </ul>
	            <ul class="list-group body">
				      <li class="list-group-item row category-li" ng-cloak ng-repeat='cat in categories' ng-class='{"cyan lighten-4" : current_category.id == cat.id}' >
							<div class="col-md-6">[[cat.name]]</div>
							<div class="col-md-2"><input type="number" ng-model="cat.qty" ng-class='{ "red lighten-4" : total.categories.qty != 100}'> %</div>
							<div class="col-md-2"><input type="number" ng-model="cat.amount" ng-class='{ "red lighten-4" : total.categories.amount != 100}'> %</div>

							<div class="col-md-2">
		                        <a class="btn-floating orange darken-2" ng-click='removeCategory(cat, $index)'>
	                                <i class="material-icons font-22">delete</i>
			                        	<!-- <i class="material-icons">remove</i> -->
		                        </a>
								<a href="#!" class="secondary-content" style="position: relative; "  ng-click='selectCategory(cat)'><i class="material-icons" >send</i></a>
							</div>
				      </li>

				      <li class="list-group-item row">
				        <div class="col-md-11">Nuevo Registro</div>
				    	<div>
	                        <a class="btn-floating blue" ng-click='openNewCategoryModal()'><i class="material-icons">add</i></a>
				        </div>
				      </li>
			    </ul>
				<ul class="list-group">
					<li class="list-group-item row">
		               <span class="col-md-2 offset-s6" style="margin-left: 49%"><input readonly type="number"  ng-class='{ "red lighten-4" : total.categories.qty != 100}' value='[[total.categories.qty]]' /> %</span>
		               <span class="col-md-2 7"><input readonly type="number"  ng-class='{ "red lighten-4" : total.categories.amount != 100}' value='[[total.categories.amount]]' /> %</span>
			      </li>
			    </ul>
			</form>
		</div>


		<div class="col-md-7">
			<form name='formIndicators'>
			    <ul class="list-group">
					<li class="list-group-item row">
		               <span class="col-md-7" style="width: 56.66667%;"><strong>Indicador</strong></span>
		               <span class="col-md-2"><strong>Cantidad</strong></span>
		               <span class="col-md-2"><strong>Monto</strong></span>
			      </li>
			    </ul>
	            <ul class="list-group body">
					<li class="list-group-item row" ng-if='current_indicators == 0 && !loading'>
				        <div class="col-md-7">Sin información</div>
				    </li>
	            	<li class="list-group-item row" ng-if='loading'>
						  <div class="preloader-wrapper big active">
						    <div class="spinner-layer spinner-blue-only">
						      <div class="circle-clipper left">
						        <div class="circle"></div>
						      </div><div class="gap-patch">
						        <div class="circle"></div>
						      </div><div class="circle-clipper right">
						        <div class="circle"></div>
						      </div>
						    </div>
						  </div>
				    </li>

				    <li class="list-group-item row" ng-cloak ng-repeat='ind in current_indicators' ng-hide='loading'>
				        <div class="col-md-7"><strong><i>[[ind.code]]</i></strong> - [[ind.name]]</div>
				        <div class="col-md-2"><input type="number" ng-model="ind.qty"> %</div>
				        <div class="col-md-2"><input type="number" ng-model="ind.amount"> %</div>
				        <div>
				            <a class="btn-floating orange darken-2" ng-click='removeRow(ind, $index)'>
                                <i class="material-icons font-22">delete</i>
				            </a>
				        </div>
				    </li>
				    <li class="list-group-item row  brown lighten-5" ng-if='current_category.id != undefined'>
				        <div class="col-md-11">Nuevo Registro</div>
				    	<div>
	                        <a class="btn-floating blue" ng-click='addIndicator()'><i class="material-icons">add_circle</i></a>
				        </div>
				    </li>
				    <li class="list-group-item row"></li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item row">
						<span class="col-md-2 col-md-offset-7" style="margin-left: 58%" >
							<input readonly type="number"  ng-class='{ "red lighten-4" : total.current_indicators.qty != 100}' value='[[total.current_indicators.qty]]' />
							%
						</span>
						<span class="col-md-2 7" >
							<input readonly type="number"  ng-class='{ "red lighten-4" : total.current_indicators.amount != 100}' value='[[total.current_indicators.amount]]' />
							%
						</span>
			      </li>
			    </ul>
			</form>
		</div>

		<div class="col-md-offset-9 col-md-3">
			<button class="btn btn-primary waves-effect btn-lg" type="button" ng-click='reset()' name="reset">REINICIAR</button>
			<button class="btn btn-primary waves-effect btn-lg" type="button" ng-click='save()' ng-disabled='uncompleteTotal' name="action">GUARDAR</button>
		</div>
	</div>
</div>

{% endblock %}
